@page
@model CreateModel
@{
    ViewData["Title"] = "Kyzylorda";
    Layout = "~/Pages/Shared/_KZ.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<header>


    <div class="im">
        <img src="~/image/kyzylorda.jpg" />
        <div style="position: fixed; top: 250px; left:4%">
            <a asp-page="/Karaganda">
                <span style="font-size: 50px" class="material-icons">
                    keyboard_arrow_left
                </span>
            </a>
        </div>
        <div style="position: fixed; top: 250px; left:92%">
            <a asp-page="/Pavlodar">
                <span style="font-size: 50px" class="material-icons">
                    keyboard_arrow_right
                </span>
            </a>
        </div>
        <p style="position: absolute;left:15%; top: 45px;font-size: 100px;color: #4266bb;text-shadow: black 0 0 50px;font-family: 'Oswald',sans-serif;">Kyzylorda</p>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div align="center" style="direction:ltr;" id="kub">
        <div class="wrap">
            <div class="cube">
                <div class="front">
                    <a href="#swip2">
                        <img src="~/image/c.jpg" />
                    </a>
                </div>
                <div class="back">
                    <a href="#swip1">
                        <img src="~/image/m.jpg" />
                    </a>
                </div>
                <div class="top">
                    <a href="#swip4">
                        <img src="~/image/p.jpg" />
                    </a>
                </div>
                <div class="bottom">
                    <a href="#swip">
                        <img src="~/image/s.jpg" />
                    </a>
                </div>
                <div class="left">
                    <a href="#swip3">
                        <img src="~/image/t.jpg" />
                    </a>
                </div>
                <div class="right">
                    <a href="#swip5">
                        <img src="~/image/teatr.jpg" />
                    </a>
                </div>
            </div>

        </div>

    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <script>
        var addlogo = true;
    </script>

    <br /><br /><br /><br />
    <div class="swiper-container" id="swip">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/pamitky1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/pamitky2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/pamitky3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/pamitky4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/pamitky5.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/pamitky6.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip1">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/muzeiky1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/muzeiky2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/muzeiky3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/muzeiky4.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>




    <br /><br /><br /><br />
    <div class="swiper-container" id="swip2">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/mechetky1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/mechetky2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/mechetky3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/mechetky4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/mechetky5.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/mechetky6.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/mechetky7.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip3">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/trsky1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/trsky2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/trsky3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/trsky4.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip4">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky5.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky6.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky7.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/parkky8.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip5">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/teatrky1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/teatrky2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/teatrky3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/kyzylorda/teatrky4.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <br /><br /><hr />

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User.Comment" class="control-label"></label>
                    <input asp-for="User.Comment" class="form-control" />
                    <span asp-validation-for="User.Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</header>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
