@page
@model PavlodarModel
@{
    ViewData["Title"] = "Pavlodar";
}
<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<header>


    <div class="im">
        <img src="~/image/pavlodar1.jpg" />
        <div style="position: fixed; top: 250px; left:4%">
            <a asp-page="/Kyzylorda">
                <span style="font-size: 50px" class="material-icons">
                    keyboard_arrow_left
                </span>
            </a>
        </div>
        <div style="position: fixed; top: 250px; left:92%">
            <a asp-page="/Petropavl">
                <span style="font-size: 50px" class="material-icons">
                    keyboard_arrow_right
                </span>
            </a>
        </div>
        <p style="position: absolute;left:15%; top: 45px;font-size: 100px;color: #4266bb;text-shadow: black 0 0 50px;font-family: 'Oswald',sans-serif;">Pavlodar</p>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div align="center" style="direction:ltr;" id="kub">
        <div class="wrap">
            <div class="cube">
                <div class="front">
                    <a href="#swip2">
                        <img src="~/image/c.jpg" />
                    </a>
                </div>
                <div class="back">
                    <a href="#swip1">
                        <img src="~/image/m.jpg" />
                    </a>
                </div>
                <div class="top">
                    <a href="#swip4">
                        <img src="~/image/p.jpg" />
                    </a>
                </div>
                <div class="bottom">
                    <a href="#swip">
                        <img src="~/image/s.jpg" />
                    </a>
                </div>
                <div class="left">
                    <a href="#swip3">
                        <img src="~/image/t.jpg" />
                    </a>
                </div>
                <div class="right">
                    <a href="#swip5">
                        <img src="~/image/teatr.jpg" />
                    </a>
                </div>
            </div>

        </div>

    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <script>
        var addlogo = true;
    </script>

    <br /><br /><br /><br />
    <div class="swiper-container" id="swip">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/pamitp1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/pamitp2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/pamitp3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/pamitp4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/pamitp5.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip1">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/muzeip1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/muzeip2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/muzeip3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/muzeip4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/muzeip5.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>




    <br /><br /><br /><br />
    <div class="swiper-container" id="swip2">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/mechetp1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/mechetp2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/mechetp3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/mechetp4.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip3">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/trsp1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/trsp2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/trsp3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/trsp4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/trsp5.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/trsp6.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip4">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/parkp1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/parkp2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/parkp3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/parkp4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/parkp5.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/parkp6.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip5">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/teatrp1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/teatrp2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/teatrp3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/teatrp4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/teatrp5.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/pavlodar/teatrp6.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

</header>
