@page
@model PetropavlModel
@{
    ViewData["Title"] = "Petropavl";
}
<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<header>


    <div class="im">
        <img src="~/petropavl/petropavlovsk.jpg" />
        <div style="position: fixed; top: 250px; left:4%">
            <a asp-page="/Pavlodar">
                <span style="font-size: 50px" class="material-icons">
                    keyboard_arrow_left
                </span>
            </a>
        </div>
        <div style="position: fixed; top: 250px; left:92%">
            <a asp-page="/Taldykorgan">
                <span style="font-size: 50px" class="material-icons">
                    keyboard_arrow_right
                </span>
            </a>
        </div>
        <p style="position: absolute;left:15%; top: 45px;font-size: 100px;color: #4266bb;text-shadow: black 0 0 50px;font-family: 'Oswald',sans-serif;">Petropavl</p>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div align="center" style="direction:ltr;" id="kub">
        <div class="wrap">
            <div class="cube">
                <div class="front">
                    <a href="#swip2">
                        <img src="~/image/c.jpg" />
                    </a>
                </div>
                <div class="back">
                    <a href="#swip1">
                        <img src="~/image/m.jpg" />
                    </a>
                </div>
                <div class="top">
                    <a href="#swip4">
                        <img src="~/image/p.jpg" />
                    </a>
                </div>
                <div class="bottom">
                    <a href="#swip">
                        <img src="~/image/s.jpg" />
                    </a>
                </div>
                <div class="left">
                    <a href="#swip3">
                        <img src="~/image/t.jpg" />
                    </a>
                </div>
                <div class="right">
                    <a href="#swip5">
                        <img src="~/image/teatr.jpg" />
                    </a>
                </div>
            </div>

        </div>

    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <script>
        var addlogo = true;
    </script>

    <br /><br /><br /><br />
    <div class="swiper-container" id="swip">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/pamitpe1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/pamitpe2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/pamitpe3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/pamitpe4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/pamitpe5.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/pamitpe6.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip1">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/muzeipe1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/muzeipe2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/muzeipe3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/muzeipe4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/muzeipe5.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>




    <br /><br /><br /><br />
    <div class="swiper-container" id="swip2">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/mechetpe1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/mechetpe2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/mechetpe3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/mechetpe4.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip3">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/trspe1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/trspe2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/trspe3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/trspe4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/trspe5.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip4">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/parkpe1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/parkpe2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/parkpe3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/parkpe4.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <br /><br /><br /><br />
    <div class="swiper-container" id="swip5">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/teatrpe1.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/teatrpe2.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/teatrpe3.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/teatrpe4.jpg" /></div>
            <div class="swiper-slide"><img style="width:300px; height:300px;" src="~/petropavl/teatrpe5.jpg" /></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

</header>
